<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow: hidden;">
  <div class="qr-scanner">
    <img src="../../../../assets/images/scan-qr.webp" alt="" class="qr-scan-img">
    <h6 class="scan-label">Escanea o selecciona la imágen del código QR</h6>
    <ion-row>
      <ion-col>
        <ion-button class="submit" expand="block" (click)="startScan()">
          Escanear
          <ion-icon slot="end" name="scan-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
