<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo.png" alt="logo tellevoapp" style="height: 40px" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--* Se itera sobre los viajes y al dar click redirige al detalle del viaje -->
    <ion-item *ngFor="let aux of viajes" (click)="verDetalleViaje(aux)" detail="true">
      <ion-avatar>
        <img [src]="aux.imagen" alt="{{aux.destino}}"> 
      </ion-avatar>
      <ion-label>
        <h2> {{ aux.destino }} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>